.checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    .checkbox {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: .25rem;
        outline: 1px solid var(--input-stroke);
        background-color: var(--input-base);

        img {
            display: none;
            width: 1.5rem;
        }

        input,
        input:focus,
        input:hover {
          all: unset;
          position: absolute;
          inset: 0;
        }
    
        &:has(:checked) {
          border-color: var(--shape-button);

          img {
            display: block;
          }
        }
    
        &:hover,
        &:focus-within {
          outline: 2px solid var(--brand-dark);
        }
    }
}