.droparea-wrapper {

  .droparea-inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
        border: none;
        border-radius: .5rem;
        background-color: var(--shape-button);
        color: var(--text-body);
        display: flex;
        align-items: center;
        padding: .75rem;
        gap: .5rem;
        img {
            width: 1rem;
        }
    }

    span {
        opacity: .5;
        font: var(--font-body-md)
    }

    input,
    input:focus,
    input:hover {
      all: unset;
      position: absolute;
      inset: 0;
      opacity: 0;
    }
  }
}
