input, textarea {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    outline: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    color: var(--text-body);
    border: 2px solid transparent;
    padding: .75rem 1rem;
    font: var(--text-body);

    &::placeholder {
        color: var(--input-placeholder);
    }

    &:focus {
        border-color: var(--brand-dark);
    }
}

input[type="date"]{
    position: relative;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

label {
    font: var(--font-body-md);
    display: block;
    margin-bottom: .75rem;
}

.flex {
    gap: 1rem;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.input-wrapper > label {
    margin-top: 1rem;
}