@import url(./fields/index.css);

form {
    margin-top: 2.5rem;
}

fieldset {
    border: none;
    display: grid;
    gap: 1rem;
}

legend {
    font: var(--font-heading-md);
    color: var(--text-heading);
    display: flex;
    justify-content: center;
    gap: .75rem;
    margin-bottom: 1.5rem;
    img {
        width: 1.5rem;
    }
}

fieldset + fieldset {
    margin-top: 3rem;
}